* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font: #3A3A3A;
}

body {
    background-color: #F7F8F9;
    width: auto;
    height: 100vh;
}

h4 {
    color: #8E8E8E;
}

.main-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
    /* background-color: red; */
    width: 50%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.test>img {
    width: 300px;
}

.iphone-div {
    width: 50%;
    height: 100px;
    background-color: blue;
}


.card {
    display: block;
    background-color: white;
    width: 400px;
    min-width: 300px;
    height: 500px;
    box-shadow: 0px 0px 20px 10px #dddddd;
    margin: 0 40px;
}

.top-container {
    text-align: center;
}

.top-container > img {
    margin-bottom: 20px;
}

.top-container > p {
    font-size: 10px;
    margin: 10px 0;
}

input[type="password"], [type="email"] {

    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 8px;
    width: 100%;
    padding: 5px;

}

.content-container {
    margin: 40px;
    width: 80%;
}

.logo {
    width: 40%;
}

.check-ctr {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.check-ctr > input {
    transform: scale(0.6);
    margin-right: 3px;
}

input[type="submit"] {
    width: 100%;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: none;
    padding: 8px 0;
    font-size: 8px;
    color:  white;
}

.pw-forgot-div {
    text-align: center;
    width: 100%;
    margin-top: 10px;

}

.pw-forgot-div > a {
    text-decoration: none;
    color: grey;
    font-size: 10px;
}




@media screen and (min-width: 500px) {
    .card {
      height: 45%;
    }
  }

  @media screen and (min-width: 750px) {
    .card {

    }
  }