* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font: #3A3A3A;
}

body {
    background-color: #F7F8F9;
    width: auto;
    height: 100vh;
}

h4 {
    color: #8E8E8E;
}

.main-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.test {
    display: flex;
    /* background-color: red; */
    width: 50vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.test>img {
    height: 600px;
    box-shadow: 0px 0px 20px 10px #dddddd;
}

.card-ctr {
    display: flex;
    /* background-color: red; */
    width: 50vw;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.card {
    display: block;
    background-color: white;
    width: 400px;
    max-width: 400px;
    height: 600px;
    box-shadow: 0px 0px 20px 10px #dddddd;
}

.top-container {
    text-align: center;
}

.top-container > img {
    margin-bottom: 20px;
}

.top-container > p {
    font-size: 10px;
    margin: 10px 0;
}

input[type="password"], [type="email"] {

    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 8px;
    width: 100%;
    padding: 5px;

}

.content-container {
    margin: 40px;
    
}

.logo {
    width: 40%;
}

.check-ctr {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.check-ctr > input {
    transform: scale(0.6);
    margin-right: 3px;
}

input[type="submit"] {
    width: 100%;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: none;
    padding: 8px 0;
    font-size: 8px;
    color:  white;
}

.pw-forgot-div {
    text-align: center;
    width: 100%;
    margin-top: 10px;

}

.pw-forgot-div > a {
    text-decoration: none;
    color: grey;
    font-size: 10px;
}

.fb-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30px;
    background-color: #0096F6;
    margin: 10px auto;
    border-radius: 5px;
}

.fb-txt {
    color: white;
    font-size: 12px;
}




@media screen and (min-width: 500px) {
    .card {

    }
  }

  @media screen and (max-width: 1000px) {
    .test {
        display: none;

    }
  }